In [1]:
import pandas as pd

In [2]:
def join(series):
    #return ' '.join( str(list(series)).strip('[]').split(', ') )
    return ' '.join( map(str, series) )

In [3]:
%run 'metrics.ipynb'
def model_evaluation(actual, prediction):
    return mapk(actual['ad_id'], prediction['ad_id'], k=12)

In [4]:
prediction = pd.read_csv("../generated/final/events_CTR_test.csv")
prediction.head()

   display_id   ad_id  clicksPerShows
0    16874594  170392        0.312005
1    16874594  172888        0.271547
2    16874594  162754        0.203940
3    16874594  150083        0.067184
4    16874594   66758        0.043269

In [5]:
prediction = pd.DataFrame({ 'ad_id': prediction.groupby('display_id')['ad_id'].apply(join) }).reset_index()
prediction.head()

   display_id                                              ad_id
0    16874594           170392 172888 162754 150083 66758 180797
1    16874595                                  8846 143982 30609
2    16874596  289122 132820 289915 11430 173005 288385 57197...
3    16874597  285834 305790 143981 155945 308836 180965 1820...
4    16874598                         145937 335632 67292 250082

In [6]:
prediction_old = pd.read_csv("../submissions/solution_7.csv", nrows=10)
prediction_old.head()

   display_id                                              ad_id
0    16874594           170392 172888 162754 150083 66758 180797
1    16874595                                  8846 143982 30609
2    16874596  289122 132820 289915 11430 173005 288385 57197...
3    16874597  285834 305790 143981 155945 308836 180965 1820...
4    16874598                         145937 335632 67292 250082

In [7]:
print model_evaluation(prediction, prediction_old)

1.0