In [3]:
import pandas as pd

### explore_docs

##### document_id

In [2]:
docs_content = pd.read_csv("../generated/documents_content.csv", nrows=10)
docs_content.head()

,document_id,published,source_rate,publisher_rate,topics_rate,categories_rate
0,379743,-2147483648,2120,6732,93.134720,7580.269612
1,1794259,-14399998,10249,16634,195.065953,74936.989871
2,1179111,-2147483648,1,857,1153.109742,63239.342459
3,1777797,-2147483648,14201,14210,893.882933,19789.784671
4,252458,-2147483648,10249,16634,1757.841615,183157.587372

### explore_events

##### display_id

In [11]:
events = pd.read_csv("../generated/events.csv", nrows=10)
events.head()

   display_id  document_id  timestamp  day
0           1       379743         61   14
1           2      1794259         81   14
2           3      1179111        182   14
3           4      1777797        234   14
4           5       252458        338   14

### explore_clicks  (with explore_events taken into account)

##### display_id

In [4]:
clicks_train = pd.read_csv("../generated/clicks_train.csv", nrows=10)
clicks_train.head()

   display_id  document_id  timestamp  day   ad_id  clicked
0           1       379743         61   14   42337        0
1           1       379743         61   14  139684        0
2           1       379743         61   14  144739        1
3           1       379743         61   14  156824        0
4           1       379743         61   14  279295        0

In [4]:
clicks_test = pd.read_csv("../generated/clicks_test.csv", nrows=10)
clicks_test.head()

   display_id  document_id  timestamp  day   ad_id
0    16874594      1792425       1026   14   66758
1    16874594      1792425       1026   14  150083
2    16874594      1792425       1026   14  162754
3    16874594      1792425       1026   14  170392
4    16874594      1792425       1026   14  172888

In [5]:
adsPerDisplay = pd.read_csv("../generated/adsPerDisplay.csv", nrows=10) 
adsPerDisplay.head()

   display_id  adsPerDisplay
0           1              6
1           2              4
2           3              6
3           4              5
4           5              5

##### ad_id

In [6]:
clicksPerAd_train = pd.read_csv("../generated/clicks_shows_PerAd.csv", usecols=['ad_id', 'clicksPerShows'], nrows=10)
clicksPerAd_train.head()

   ad_id  clicksPerShows
0      1        0.000000
1      2        0.045455
2      3        0.068323
3      4        0.125000
4      5        0.000000

### explore_page_views

##### document_id

In [7]:
#to be used with Event documents
documentShows = pd.read_csv("../generated/page_views_event_docs_size.csv", nrows=10)
documentShows.head()

   document_id   size
0            2  19354
1            4      7
2            5    718
3            7    124
4            8    462

In [8]:
documentTimes = pd.read_csv("../generated/page_views_event_docs_timestamps.csv", nrows = 10)
documentTimes.head()

   document_id  timestamp
0           17    1090275
1           17    3423879
2           17    4839413
3           17    5903566
4           17    9133300

In [9]:
documentsUnique = pd.read_csv("../generated/page_views_docs_unique.csv", nrows = 10)
documentsUnique.head()

   Unnamed: 0  document_id
0           0           -1
1           1            1
2           2            2
3           3            3
4           4            4

### explore_ads

###### ad_id

In [10]:
ads = pd.read_csv("../generated/promoted_content.csv", nrows=10)
ads.head()

   ad_id  document_id  doc_rate  campaign_rate  advertiser_rate
0      1         6614         1             31               95
1      6        12736         1             31               95
2      7        12808         1             31               95
3      9        13379         1             31               95
4     10        13885         1             31               95