In [1]:
import pandas as pd
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
%run 'time.ipynb'

## Doc Time

In [3]:
docs_meta = pd.read_csv("../download/documents_meta.csv", usecols=['document_id','publish_time']) 
docs_meta.head()

   document_id         publish_time
0      1595802  2016-06-05 00:00:00
1      1524246  2016-05-26 11:00:00
2      1617787  2016-05-27 00:00:00
3      1615583  2016-06-07 00:00:00
4      1615460  2016-06-20 00:00:00

In [4]:
docs_meta['publish_timestamp'] = docs_meta['publish_time'].apply(time_ms)
docs_meta.count()

document_id          2999334
publish_time         1988216
publish_timestamp    1988156
dtype: int64

In [5]:
docs_meta.loc[list(docs_meta['publish_time']>'2016-06-29'),'publish_timestamp'] = float('NaN')
docs_meta.count()

document_id          2999334
publish_time         1988216
publish_timestamp    1976100
dtype: int64

In [6]:
docs_meta.drop(['publish_time'], axis=1, inplace=True)
#publish_timestamp_mean = docs_meta['publish_timestamp'].mean()
#docs_meta.fillna(publish_timestamp_mean, inplace=True)
docs_meta.dropna(inplace=True)
docs_meta.count()

document_id          1976100
publish_timestamp    1976100
dtype: int64

In [7]:
docs_meta.to_csv("../generated/final/docs_publish_timestamp.csv", index=False)