In [3]:
import pandas as pd
from sklearn import linear_model

%run 'Features.ipynb'

## Create train_test

In [2]:
test = pd.read_csv('input/test.csv', dtype = dtype_dict, usecols = test_cols)
test.head()

   id  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0        4037         1      2209     4639078        35305
1   1        2237         1      1226     4705135         1238
2   2        2045         1      2831     4549769        32940
3   3        1227         1      4448     4717855        43066
4   4        1219         1      1130      966351         1277

In [3]:
build_all_features(test, 'id', ['12345s'], folder = output_folder, overwrite = True)

output/outliers9/
12345s (created)

'Done'

In [4]:
f = get_feature('12345s', folder = output_folder, dtype = float)
f.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID  size
0        26.0      31518.0       2.0    4189.0      2655.0   1.0
1        26.0      31520.0       2.0    4189.0      2655.0   1.0
2        26.0      34206.0       2.0    7212.0      2061.0   1.0
3        26.0      34210.0       2.0    7212.0      2061.0   1.0
4        26.0      34785.0       2.0    7212.0      2061.0   2.0

In [5]:
f.to_csv('input/test_size.csv', index = False)

In [6]:
print len(f)

6237461

In [11]:
train = pd.read_csv('input/train.csv', dtype = dtype_dict, usecols = train_cols_Semana) #, nrows = 1e6
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3
1,3,1110,7,3301,15766,1216,4
2,3,1110,7,3301,15766,1238,4
3,3,1110,7,3301,15766,1240,4
4,3,1110,7,3301,15766,1242,3

In [12]:
len(train)

74180464

In [13]:
groupby = get_cols('12345s')
train = pd.merge(train, f, how='inner', on = groupby)
train.drop('size', axis=1, inplace=True)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,size
0,3,1110,7,3301,15766,1216,4,1.0
1,4,1110,7,3301,15766,1216,2,1.0
2,5,1110,7,3301,15766,1216,3,1.0
3,6,1110,7,3301,15766,1216,1,1.0
4,7,1110,7,3301,15766,1216,2,1.0

In [19]:
len(train)

19512958

In [17]:
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,15766,1216,4
1,4,1110,7,3301,15766,1216,2
2,5,1110,7,3301,15766,1216,3
3,6,1110,7,3301,15766,1216,1
4,7,1110,7,3301,15766,1216,2

In [18]:
train.to_csv('input/train_test.csv', index = False)

## Add 'size' to train_test

In [3]:
train = pd.read_csv('input/train_test.csv', dtype = dtype_dict, usecols = train_cols_Semana) #, nrows = 1e6
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,15766,1216,4
1,4,1110,7,3301,15766,1216,2
2,5,1110,7,3301,15766,1216,3
3,6,1110,7,3301,15766,1216,1
4,7,1110,7,3301,15766,1216,2

In [6]:
len(train)

19512958

In [5]:
groupby = get_cols('12345s')
f = pd.DataFrame({ 'size' : train.groupby(by = groupby)[target].size()}).reset_index() 
train = pd.merge(train, f, how='inner', on = groupby)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,size
0,3,1110,7,3301,15766,1216,4,6
1,4,1110,7,3301,15766,1216,2,6
2,5,1110,7,3301,15766,1216,3,6
3,6,1110,7,3301,15766,1216,1,6
4,7,1110,7,3301,15766,1216,2,6

In [7]:
train['size'].describe()

count    1.951296e+07
mean     5.180577e+00
std      1.889414e+00
min      1.000000e+00
25%      4.000000e+00
50%      5.000000e+00
75%      7.000000e+00
max      7.000000e+00
Name: size, dtype: float64

In [8]:
train.to_csv('input/train_test_size.csv', index = False)

## Divide train_test by 'size'

In [ ]:
train = pd.read_csv('input/train_test_size.csv', dtype = dtype_dict, usecols = train_cols_Semana) 
train.head()

In [24]:
train_part = train[train['size'] > 4]
train_part.drop('size', axis=1, inplace=True)
print len(train_part)
train_part.to_csv('input/train_test_5_7.csv', index = False)

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

13173358

#	len
1	835768
2	1443068
3	2137740
1_3	4416576

4	1923024

5	3812505
6	1327338
7	8033515
5_7	13173358

## Remove outliers: size = 4

In [3]:
train = pd.read_csv('input/train_test_4.csv', dtype = dtype_dict, usecols = train_cols_Semana) 
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,198780,4280,8
1,4,1110,7,3301,198780,4280,6
2,8,1110,7,3301,198780,4280,18
3,9,1110,7,3301,198780,4280,6
4,3,1110,7,3301,819816,5310,30

In [8]:
len(train)

1923024

In [6]:
build_all_features(train, target, ['12345e'], folder = output_folder, overwrite = True)
f = get_feature('12345e', folder = output_folder, dtype = float)
f.head()

output/outliers9/
12345e (created)

,Cliente_ID,Producto_ID,Canal_ID,Ruta_SAK,Agencia_ID,IQR,L,U,id
0,26.0,43335.0,2.0,7212.0,2061.0,1.50,0.000,6.000,1.0
1,26.0,46876.0,2.0,7212.0,2061.0,41.75,-29.625,137.375,2.0
2,65.0,31198.0,2.0,7333.0,2655.0,105.00,-66.500,353.500,3.0
3,65.0,31200.0,2.0,7333.0,2655.0,108.00,-72.000,360.000,4.0
4,65.0,43199.0,2.0,7250.0,2061.0,12.25,2.625,51.625,5.0

In [7]:
groupby = get_cols('12345e')
train = pd.merge(train, f, how='inner', on = groupby)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,IQR,L,U,id
0,3,1110,7,3301,198780,4280,8,4.5,-0.75,17.25,80543.0
1,4,1110,7,3301,198780,4280,6,4.5,-0.75,17.25,80543.0
2,8,1110,7,3301,198780,4280,18,4.5,-0.75,17.25,80543.0
3,9,1110,7,3301,198780,4280,6,4.5,-0.75,17.25,80543.0
4,3,1110,7,3301,819816,5310,30,10.0,37.50,77.50,203211.0

In [9]:
train = train[(train[target]>=train['L'])&(train[target]<=train['U'])]
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,IQR,L,U,id
0,3,1110,7,3301,198780,4280,8,4.5,-0.75,17.25,80543.0
1,4,1110,7,3301,198780,4280,6,4.5,-0.75,17.25,80543.0
3,9,1110,7,3301,198780,4280,6,4.5,-0.75,17.25,80543.0
5,4,1110,7,3301,819816,5310,70,10.0,37.50,77.50,203211.0
6,8,1110,7,3301,819816,5310,60,10.0,37.50,77.50,203211.0

In [42]:
len(train)

1769300

In [41]:
train.drop('L', axis=1, inplace=True)
train.drop('U', axis=1, inplace=True)
train.drop('IQR', axis=1, inplace=True)

In [44]:
train.to_csv('input/train_test_4_o.csv', index = False)

## Remove outliers: size > 4

In [12]:
train = pd.read_csv('input/train_test_5_7.csv', dtype = dtype_dict, usecols = train_cols_Semana) 
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,15766,1216,4
1,4,1110,7,3301,15766,1216,2
2,5,1110,7,3301,15766,1216,3
3,6,1110,7,3301,15766,1216,1
4,7,1110,7,3301,15766,1216,2

In [13]:
len(train)

13173358

In [8]:
build_all_features(train, target, ['12345c'], folder = output_folder, overwrite = True)

output/outliers9/
12345c (created)

'Done'

In [14]:
f = get_feature('PrepareInput/12345c', folder = output_folder, dtype = float)
f.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID        mc
0        26.0      34206.0       2.0    7212.0      2061.0 -0.066667
1        26.0      34210.0       2.0    7212.0      2061.0 -0.500000
2        26.0      34785.0       2.0    7212.0      2061.0 -0.200000
3        26.0      34786.0       2.0    7212.0      2061.0 -0.666667
4        26.0      35142.0       2.0    7212.0      2061.0 -0.428571

In [15]:
f['mc'].describe()

count    2.131369e+06
mean     6.344684e-03
std      5.279486e-01
min     -1.000000e+00
25%     -2.000000e-01
50%      0.000000e+00
75%      2.500000e-01
max      1.000000e+00
Name: mc, dtype: float64

In [13]:
build_all_features(train, target, ['12345i'], folder = output_folder, overwrite = True)

output/outliers9/
12345i (created)

'Done'

In [16]:
fi = get_feature('PrepareInput/12345i', folder = output_folder, dtype = float)
fi.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID     L      U   IQR
0        26.0      34206.0       2.0    7212.0      2061.0  75.0  101.5  26.5
1        26.0      34210.0       2.0    7212.0      2061.0  31.0   40.5   9.5
2        26.0      34785.0       2.0    7212.0      2061.0  16.0   24.0   8.0
3        26.0      34786.0       2.0    7212.0      2061.0  61.0   76.0  15.0
4        26.0      35142.0       2.0    7212.0      2061.0  29.5   38.5   9.0

In [17]:
groupby = get_cols('12345c')
train = pd.merge(train, f, how='left', on = groupby)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc
0,3,1110,7,3301,15766,1216,4,0.25
1,4,1110,7,3301,15766,1216,2,0.25
2,5,1110,7,3301,15766,1216,3,0.25
3,6,1110,7,3301,15766,1216,1,0.25
4,7,1110,7,3301,15766,1216,2,0.25

In [18]:
groupby = get_cols('12345i')
train = pd.merge(train, fi, how='left', on = groupby)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR
0,3,1110,7,3301,15766,1216,4,0.25,2.0,3.75,1.75
1,4,1110,7,3301,15766,1216,2,0.25,2.0,3.75,1.75
2,5,1110,7,3301,15766,1216,3,0.25,2.0,3.75,1.75
3,6,1110,7,3301,15766,1216,1,0.25,2.0,3.75,1.75
4,7,1110,7,3301,15766,1216,2,0.25,2.0,3.75,1.75

In [19]:
len(train)

13173358

In [20]:
train1 = train[train['mc']<0]
len(train1)

3761628

In [21]:
train1['L_'] = train1['L'] - 1.5*train1['IQR']*np.exp(-3*train1['mc'])
train1['U_'] = train1['U'] + 1.5*train1['IQR']*np.exp(4*train1['mc'])
train1.head()

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR,L_,U_
25,3,1110,7,3301,15766,30531,8,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
26,4,1110,7,3301,15766,30531,6,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
27,5,1110,7,3301,15766,30531,10,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
28,6,1110,7,3301,15766,30531,12,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
29,7,1110,7,3301,15766,30531,13,-0.090909,9.0,15.0,6.0,-2.821878,21.256295

In [22]:
train0 = train[train['mc']==0]
len(train0)

5268757

In [23]:
train0['L_'] = train0['L'] - 1.5*train0['IQR']
train0['U_'] = train0['U'] + 1.5*train0['IQR']
train0.head()

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR,L_,U_
11,3,1110,7,3301,15766,1242,3,0.0,1.5,3.0,1.5,-0.75,5.25
12,4,1110,7,3301,15766,1242,3,0.0,1.5,3.0,1.5,-0.75,5.25
13,5,1110,7,3301,15766,1242,2,0.0,1.5,3.0,1.5,-0.75,5.25
14,6,1110,7,3301,15766,1242,3,0.0,1.5,3.0,1.5,-0.75,5.25
15,7,1110,7,3301,15766,1242,2,0.0,1.5,3.0,1.5,-0.75,5.25

In [24]:
train2 = train[train['mc']>0]
len(train2)

4142973

In [25]:
train2['L_'] = train2['L'] - 1.5*train2['IQR']*np.exp(-4*train2['mc'])
train2['U_'] = train2['U'] + 1.5*train2['IQR']*np.exp(3*train2['mc'])
train2.head()

D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR,L_,U_
0,3,1110,7,3301,15766,1216,4,0.25,2.0,3.75,1.75,1.034316,9.307125
1,4,1110,7,3301,15766,1216,2,0.25,2.0,3.75,1.75,1.034316,9.307125
2,5,1110,7,3301,15766,1216,3,0.25,2.0,3.75,1.75,1.034316,9.307125
3,6,1110,7,3301,15766,1216,1,0.25,2.0,3.75,1.75,1.034316,9.307125
4,7,1110,7,3301,15766,1216,2,0.25,2.0,3.75,1.75,1.034316,9.307125

In [26]:
len(train0)+len(train1)+len(train2)

13173358

In [27]:
train = pd.concat([train1, train0, train2])
len(train)

13173358

In [28]:
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR,L_,U_
25,3,1110,7,3301,15766,30531,8,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
26,4,1110,7,3301,15766,30531,6,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
27,5,1110,7,3301,15766,30531,10,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
28,6,1110,7,3301,15766,30531,12,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
29,7,1110,7,3301,15766,30531,13,-0.090909,9.0,15.0,6.0,-2.821878,21.256295

In [29]:
train[target].describe()

count    1.317336e+07
mean     1.166254e+01
std      3.204340e+01
min      0.000000e+00
25%      2.000000e+00
50%      5.000000e+00
75%      1.000000e+01
max      4.872000e+03
Name: Demanda_uni_equil, dtype: float64

In [30]:
train = train[(train[target]>=train['L_'])&(train[target]<=train['U_'])]
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,mc,L,U,IQR,L_,U_
25,3,1110,7,3301,15766,30531,8,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
26,4,1110,7,3301,15766,30531,6,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
27,5,1110,7,3301,15766,30531,10,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
28,6,1110,7,3301,15766,30531,12,-0.090909,9.0,15.0,6.0,-2.821878,21.256295
29,7,1110,7,3301,15766,30531,13,-0.090909,9.0,15.0,6.0,-2.821878,21.256295

In [31]:
train[target].describe()

count    1.214666e+07
mean     1.146447e+01
std      3.130647e+01
min      0.000000e+00
25%      2.000000e+00
50%      5.000000e+00
75%      1.000000e+01
max      4.568000e+03
Name: Demanda_uni_equil, dtype: float64

In [32]:
train.drop(['mc', 'L', 'L_', 'U', 'U_', 'IQR'], axis=1, inplace=True)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
25,3,1110,7,3301,15766,30531,8
26,4,1110,7,3301,15766,30531,6
27,5,1110,7,3301,15766,30531,10
28,6,1110,7,3301,15766,30531,12
29,7,1110,7,3301,15766,30531,13

In [33]:
train.to_csv('input/train_test_5_7_o.csv', index = False)

## Merge size=4 and size>4 on removing outliers

In [3]:
train = pd.read_csv('input/train_test_5_7_o.csv', dtype = dtype_dict, usecols = train_cols_Semana) 
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3,1110,7,3301,15766,30531,8
1,4,1110,7,3301,15766,30531,6
2,5,1110,7,3301,15766,30531,10
3,6,1110,7,3301,15766,30531,12
4,7,1110,7,3301,15766,30531,13

In [34]:
train = train.append(pd.read_csv('input/train_test_4_o.csv', dtype = dtype_dict, usecols = train_cols_Semana) , ignore_index=True)
len(train)

13915957

In [35]:
train.to_csv('input/train_test_4_7_o.csv', index = False)   #may contain size<4 on outliers removal

## Merge size = 2, size = 3 and size > 3 into ML input

In [3]:
train = pd.read_csv('input/train_test_4_7_o.csv', dtype = dtype_dict, usecols = train_cols_Semana)
len(train)

13915957

In [36]:
train = train.append(pd.read_csv('input/train_test_2.csv', dtype = dtype_dict, usecols = train_cols_Semana) , ignore_index=True)
len(train)

15359025

In [37]:
train = train.append(pd.read_csv('input/train_test_3.csv', dtype = dtype_dict, usecols = train_cols_Semana) , ignore_index=True)
len(train)

17496765

In [39]:
groupby = get_cols('12345')
df = pd.DataFrame({ 'size' : train.groupby(by = groupby)[target].size()}).reset_index() 
df['gid'] = np.linspace(start = 1, stop = len(df), num = len(df), dtype = int)
df.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID  size  gid
0          26        34206         2      7212        2061     7    1
1          26        34210         2      7212        2061     6    2
2          26        34785         2      7212        2061     5    3
3          26        34786         2      7212        2061     6    4
4          26        35142         2      7212        2061     6    5

In [40]:
len(df), max(df['gid'])

(4046239, 4046239)

In [41]:
df.to_csv('input/train_test_2_7_gid.csv', index = False)

In [42]:
train = pd.merge(train, df, how='inner', on = groupby)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,size,gid
0,3,1110,7,3301,15766,30531,8,7,36922
1,4,1110,7,3301,15766,30531,6,7,36922
2,5,1110,7,3301,15766,30531,10,7,36922
3,6,1110,7,3301,15766,30531,12,7,36922
4,7,1110,7,3301,15766,30531,13,7,36922

In [43]:
len(train)

17496765

In [44]:
train.to_csv('input/train_test_2_7_o.csv', index = False)

## Apply ML to get w0, w1 for size > 1

In [3]:
train = pd.read_csv('input/train_test_2_7_o.csv', dtype = int, usecols = ['Semana', target, 'gid'])
len(train)

17496765

In [111]:
data = train #[train['gid']<1e4]

In [112]:
model = linear_model.LinearRegression()
s = [[10], [11]]
    
df = pd.DataFrame({
       'w0':data.groupby(by = 'gid').apply(lambda x: model.fit(x['Semana'].reshape(-1, 1), x[target].reshape(-1, 1)).intercept_[0] ),
       'w1':data.groupby(by = 'gid').apply(lambda x: model.fit(x['Semana'].reshape(-1, 1), x[target].reshape(-1, 1)).coef_[0][0] ) 
}).reset_index() 
df.head()

#train[train['gid']<5].groupby(by = 'gid').apply(lambda x: model.fit(x['Semana'].reshape(-1, 1), x[target].reshape(-1, 1)).predict(s).reshape(1, -1)[0] )

   gid         w0            w1
0    1  79.642857  1.107143e+00
1    2  20.105590  2.118012e+00
2    3  20.000000  7.982597e-17
3    4  65.739130 -1.739130e-01
4    5   7.642858  3.857143e+00

In [116]:
df.to_csv('input/train_test_2_7_gid_w.csv', index = False)

In [114]:
len(df)

4046239

In [115]:
max(train['gid'])

4046239

## Build train_test_w

In [53]:
train_gid = pd.read_csv('input/train_test_2_7_gid.csv', dtype = int)
len(train_gid)

4046239

train_gid = train_gid[train_gid['size']>5]
train_gid.head()

In [54]:
len(train_gid)

4046239

In [55]:
train_gid_w = pd.read_csv('input/train_test_2_7_gid_w.csv', dtype = float)
len(train_gid_w)

4046239

In [56]:
train_gid_w[train_gid_w['gid']==36922].head()

           gid        w0        w1
36921  36922.0  0.714286  1.857143

In [57]:
train_gid = pd.merge(train_gid, train_gid_w, on = ['gid'])
train_gid.head()

,Cliente_ID,Producto_ID,Canal_ID,Ruta_SAK,Agencia_ID,size,gid,w0,w1
0,26,34206,2,7212,2061,7,1,79.642857,1.107143e+00
1,26,34210,2,7212,2061,6,2,20.105590,2.118012e+00
2,26,34785,2,7212,2061,5,3,20.000000,7.982597e-17
3,26,34786,2,7212,2061,6,4,65.739130,-1.739130e-01
4,26,35142,2,7212,2061,6,5,7.642858,3.857143e+00

In [58]:
train_gid.drop(['gid'], axis=1, inplace=True)
train_gid.head()

,Cliente_ID,Producto_ID,Canal_ID,Ruta_SAK,Agencia_ID,size,w0,w1
0,26,34206,2,7212,2061,7,79.642857,1.107143e+00
1,26,34210,2,7212,2061,6,20.105590,2.118012e+00
2,26,34785,2,7212,2061,5,20.000000,7.982597e-17
3,26,34786,2,7212,2061,6,65.739130,-1.739130e-01
4,26,35142,2,7212,2061,6,7.642858,3.857143e+00

In [59]:
train_gid.to_csv('input/train_test_2_7_w.csv', index=False)

## Get w0, w1 for size = 1

In [67]:
train = pd.read_csv('input/train_test_1.csv', dtype = float)
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil
0,3.0,1110.0,7.0,3301.0,73838.0,1220.0,3.0
1,3.0,1110.0,7.0,3301.0,1307034.0,32933.0,1.0
2,3.0,1110.0,7.0,3301.0,2331717.0,3333.0,5.0
3,3.0,1110.0,7.0,3302.0,2052099.0,4245.0,2.0
4,3.0,1110.0,7.0,3304.0,522735.0,1160.0,1.0

In [68]:
train['w0'] = train['Demanda_uni_equil']
train['w1'] = np.zeros(len(train))
train['size'] = np.ones(len(train))
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Demanda_uni_equil,w0,w1,size
0,3.0,1110.0,7.0,3301.0,73838.0,1220.0,3.0,3.0,0.0,1.0
1,3.0,1110.0,7.0,3301.0,1307034.0,32933.0,1.0,1.0,0.0,1.0
2,3.0,1110.0,7.0,3301.0,2331717.0,3333.0,5.0,5.0,0.0,1.0
3,3.0,1110.0,7.0,3302.0,2052099.0,4245.0,2.0,2.0,0.0,1.0
4,3.0,1110.0,7.0,3304.0,522735.0,1160.0,1.0,1.0,0.0,1.0

In [69]:
train.drop('Semana', axis=1, inplace=True)
train.drop('Demanda_uni_equil', axis=1, inplace=True)
train.head()

   Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID   w0   w1  size
0      1110.0       7.0    3301.0     73838.0       1220.0  3.0  0.0   1.0
1      1110.0       7.0    3301.0   1307034.0      32933.0  1.0  0.0   1.0
2      1110.0       7.0    3301.0   2331717.0       3333.0  5.0  0.0   1.0
3      1110.0       7.0    3302.0   2052099.0       4245.0  2.0  0.0   1.0
4      1110.0       7.0    3304.0    522735.0       1160.0  1.0  0.0   1.0

In [70]:
train.to_csv('input/train_test_1_w.csv', index=False)

In [71]:
len(train)

835768

## Build train_test_w

In [72]:
train = pd.concat([train, pd.read_csv('input/train_test_2_7_w.csv', dtype = float)])
len(train)

4882007

In [73]:
train.head()

   Agencia_ID  Canal_ID  Cliente_ID  Producto_ID  Ruta_SAK  size   w0   w1
0      1110.0       7.0     73838.0       1220.0    3301.0   1.0  3.0  0.0
1      1110.0       7.0   1307034.0      32933.0    3301.0   1.0  1.0  0.0
2      1110.0       7.0   2331717.0       3333.0    3301.0   1.0  5.0  0.0
3      1110.0       7.0   2052099.0       4245.0    3302.0   1.0  2.0  0.0
4      1110.0       7.0    522735.0       1160.0    3304.0   1.0  1.0  0.0

In [74]:
train.to_csv('input/train_test_w.csv', index=False)

In [75]:
train.tail()

,Agencia_ID,Canal_ID,Cliente_ID,Producto_ID,Ruta_SAK,size,w0,w1
4046234,22362.0,1.0,2.015152e+09,1146.0,900.0,4.0,-10.000000,2.300000
4046235,22362.0,1.0,2.015152e+09,1232.0,900.0,2.0,1.500000,0.166667
4046236,22362.0,1.0,2.015152e+09,1250.0,900.0,3.0,36.000000,-3.000000
4046237,22362.0,1.0,2.015152e+09,2233.0,900.0,3.0,42.307692,-4.346154
4046238,22362.0,1.0,2.015152e+09,4280.0,900.0,2.0,2.000000,0.666667

## Build train_test prediction

In [76]:
test = pd.read_csv('input/test.csv', dtype = dtype_dict, usecols = test_cols_Semana)
test.head()

   id  Semana  Agencia_ID  Canal_ID  Ruta_SAK  Cliente_ID  Producto_ID
0   0      11        4037         1      2209     4639078        35305
1   1      11        2237         1      1226     4705135         1238
2   2      10        2045         1      2831     4549769        32940
3   3      11        1227         1      4448     4717855        43066
4   4      11        1219         1      1130      966351         1277

In [77]:
len(test)

6999251

In [78]:
test_w = pd.read_csv('input/train_test_w.csv', dtype = float)
test_w.head()

   Agencia_ID  Canal_ID  Cliente_ID  Producto_ID  Ruta_SAK  size   w0   w1
0      1110.0       7.0     73838.0       1220.0    3301.0   1.0  3.0  0.0
1      1110.0       7.0   1307034.0      32933.0    3301.0   1.0  1.0  0.0
2      1110.0       7.0   2331717.0       3333.0    3301.0   1.0  5.0  0.0
3      1110.0       7.0   2052099.0       4245.0    3302.0   1.0  2.0  0.0
4      1110.0       7.0    522735.0       1160.0    3304.0   1.0  1.0  0.0

In [79]:
len(test_w)

4882007

In [81]:
test_w = test_w[test_w['size']>5]
len(test_w)

1234431

In [82]:
groupby = get_cols('12345')

In [83]:
test = pd.merge(test, test_w, how = 'inner', on = groupby)
test.head()

,id,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,size,w0,w1
0,11,10,1336,1,1069,4387996,2233,7.0,2.000000,0.000000
1,22,10,1477,4,4714,4670562,35525,6.0,15.809524,-0.714286
2,4677681,11,1477,4,4714,4670562,35525,6.0,15.809524,-0.714286
3,23,11,1232,1,1211,245366,1150,6.0,2.585714,-0.171429
4,3329279,10,1232,1,1211,245366,1150,6.0,2.585714,-0.171429

In [84]:
test.drop(groupby, axis=1, inplace=True)
test.head()

        id  Semana  size         w0        w1
0       11      10   7.0   2.000000  0.000000
1       22      10   6.0  15.809524 -0.714286
2  4677681      11   6.0  15.809524 -0.714286
3       23      11   6.0   2.585714 -0.171429
4  3329279      10   6.0   2.585714 -0.171429

In [85]:
len(test)

1447903

In [86]:
test[target] = test['w0'] + test['w1']*test['Semana']
test.tail()

              id  Semana  size         w0         w1  Demanda_uni_equil
1447898  6999198      10   7.0   3.357143   1.535714          18.714286
1447899  6999206      11   6.0   3.761905  24.285714         270.904762
1447900  6999223      10   6.0   4.900000  -0.100000           3.900000
1447901  6999230      11   7.0  65.714286   1.071429          77.500000
1447902  6999235      11   7.0   8.500000  -0.392857           4.178571

In [87]:
len(test)

1447903

In [88]:
test = test[test[target] >= 0]
len(test)

1431603

test.loc[test[target] < 0, target] = 0

In [89]:
test[target].describe()

count    1.431603e+06
mean     1.379516e+01
std      3.648316e+01
min      0.000000e+00
25%      2.952381e+00
50%      5.838095e+00
75%      1.260000e+01
max      3.637217e+03
Name: Demanda_uni_equil, dtype: float64

In [90]:
test.drop(['Semana', 'w0', 'w1', 'size'], axis=1, inplace=True)
test.head()

        id  Demanda_uni_equil
0       11           2.000000
1       22           8.666667
2  4677681           7.952381
3       23           0.700000
4  3329279           0.871429

In [91]:
test.to_csv('input/train_test_p_6_7.csv', index=False)

## Divide 12345 by sizes

In [4]:
train = pd.read_csv('input/train.csv', dtype = dtype_dict, usecols = train_cols_Semana) #, nrows = 1e6
build_all_features(train, target, ['12345s'], folder = output_folder, overwrite = True)

output/outliers11/
12345s (created)

'Done'

In [5]:
f = get_feature('12345s', folder = output_folder, dtype = float)
f.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID  size
0        26.0       1182.0       2.0    7212.0      2061.0   3.0
1        26.0       4767.0       2.0    7212.0      2061.0   3.0
2        26.0      30235.0       2.0    4189.0      2655.0   1.0
3        26.0      30314.0       2.0    4189.0      2655.0   1.0
4        26.0      31393.0       2.0    7212.0      2061.0   7.0

In [6]:
len(f)

26396648

In [7]:
f = f[f['size']>3]

In [8]:
len(f)

7907161

In [10]:
train = pd.read_csv(output_folder + '12345_.csv', dtype = float) #, nrows = 1e6
len(train)

26396648

In [11]:
groupby = get_cols('12345s')
train = pd.merge(train, f, how='inner', on = groupby)
train.drop('size', axis=1, inplace=True)
train.head()

   Cliente_ID  Producto_ID  Canal_ID  Ruta_SAK  Agencia_ID      12345
0        26.0      31393.0       2.0    7212.0      2061.0  17.000000
1        26.0      33246.0       2.0    4189.0      2655.0  18.000000
2        26.0      34204.0       2.0    7212.0      2061.0  38.333333
3        26.0      34206.0       2.0    7212.0      2061.0  86.285714
4        26.0      34210.0       2.0    7212.0      2061.0  33.166667

In [13]:
len(train)

7907161

In [14]:
train.to_csv(output_folder + '12345.csv', index=False)